body{
    margin: 0%;
    background-image:  url("https://koro.imgix.net/media/dd/04/bb/1646341407/KAFFEE_013_02.jpg?w=3000&auto=format,compress&fit=max");
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4% 14%;
    background-color: rgba(255,255,255,0.3);
    font-family: 'Oswald', sans-serif;
}
.menu{
    padding:2% 2%;
    background-color:rgb(243, 193, 144);
    width: 83%;
    
}
.header{
    border-bottom: 8px solid brown;
    padding-bottom: 1%;
}
.header h1{
    font-size: 400%;
    margin: 0%;
}
.header p{
    font-style: italic;
    font-size: 150%;
    margin: 1%;
    
}
.data{
    text-align: center;
}
.items_list{
display: flex;
width: 100%;
justify-content: space-between;
}
.items_list p{
    font-size: 180%; 
    margin-bottom: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.menu_item h1{
    font-size: 300%;
    margin: 2% 0%;
}

.menu_item {
    padding-bottom: 4%;
    border-bottom: 8px solid brown;
}
.footer{
    margin-top: 2%;
    font-size: 120%;
}
.footer a{
    color: black;
}